import json
import mysqlsh
import traceback

try:
    # Disable wizards in this script, since it will be invoked without --no-wizard
    shell.options.set('useWizards', False)
    {{ code|indent(width=4) }}
except mysqlsh.DBError as exception:
    error = {
        "message": str(exception),
        "code": exception.code,
        "traceback_message": "".join(traceback.format_exception(exception)),
    }
else:
    error = None
with open("{{ error_filepath }}", "w") as file:
    json.dump(error, file)
